<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loja dos Games - Eventos</title>
    <link rel="stylesheet" href="../static/eventos.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/lucide@latest"></script>
  </head>

  <body>
    <div class="sidebar">
      <div class="logo">
        <h1>GAME STORE</h1>
        <p>BOARD GAMES & CARD GAMES</p>
      </div>

      <div class="menu">
        <a href="/">🏠 Início</a>
        <a href="/produtos">📦 Produtos</a>
        <a href="/clientes">👥 Clientes</a>
        <a href="/fornecedores">🚚 Fornecedores</a>
        <a href="/eventos" class="active">🏆 Eventos / Torneios</a>
        <a href="#">⚙️ Sair</a>
      </div>
    </div>
    <main class="main">
      <div class="breadcrumb">
        <a href="/home">Início</a>
        <span>></span>
        <a href="/eventos">Eventos / Torneios</a>
      </div>

      <section class="topo">
        <div class="titulo-subt">
          <h1>🏆 Eventos / Torneios</h1>
          <p>Gerencie os eventos e torneios da loja.</p>
        </div>

        <div class="botoes-titulo">
          <button class="new-event">+ Novo Evento</button>
        </div>

        <div class="data">
          <i data-lucide="clock-3"></i>

          <div class="data-textos">
            <h4>24 de Maio de 2025</h4>
            <p>Sábado, 10:15</p>
          </div>
        </div>
      </section>

      <div class="card-form">
        <h3>Novo Evento</h3>

        <form>
          <input type="text" placeholder="Nome do evento" required />

          <select required>
            <option value="">Selecione o jogo</option>
            <option>Pokémon</option>
            <option>Magic</option>
            <option>Yu-Gi-Oh</option>
            <option>Board Game</option>
          </select>

          <input type="datetime-local" required />

          <input
            type="number"
            placeholder="Quantidade de vagas"
            min="1"
            required
          />

          <button type="submit">Cadastrar</button>
        </form>
      </div>

      <section class="content">
        <div class="eventos">
          <table class="tabela-eventos">
            <thead>
              <!-- Vai ser tudo removido ou alterado para o flask entrar-->
              <tr>
                <th>ID</th>
                <th>Evento</th>
                <th>Jogo / Tipo</th>
                <th>Data</th>
                <th>Vagas</th>
                <th>Ações</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>001</td>
                <td>Torneio Pokémon</td>
                <td><span class="tag">Card Game</span></td>
                <td>31/05/2025 14:00</td>
                <td>32</td>
                <td>
                  <form method="POST">
                    <button type="submit">🗑️</button>
                  </form>
                </td>
              </tr>

              <tr>
                <td>002</td>
                <td>Magic Commander Night</td>
                <td><span class="tag">Card Game</span></td>
                <td>07/06/2025 18:00</td>
                <td>20</td>
                <td>
                  <form method="POST">
                    <button type="submit">🗑️</button>
                  </form>
                </td>
              </tr>

              <tr>
                <td>003</td>
                <td>Yu-Gi-Oh Championship</td>
                <td><span class="tag">Card Game</span></td>
                <td>14/06/2025 14:00</td>
                <td>32</td>
                <td>
                  <form method="POST">
                    <button type="submit">🗑️</button>
                  </form>
                </td>
              </tr>

              <tr>
                <td>004</td>
                <td>Board Game Day</td>
                <td><span class="tag board">Board Game</span></td>
                <td>21/06/2025 13:00</td>
                <td>40</td>
                <td>
                  <form method="POST">
                    <button type="submit">🗑️</button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <aside class="barra-direita">
          <div class="card">
            <h3>🏆 Resumo</h3>
            <div class="info">
              <span>Total de eventos</span>
              <strong>4</strong>
            </div>
          </div>
        </aside>
      </section>
    </main>

    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
