<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href={{ url_for('static', filename='fornecedores.css') }} />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"rel="stylesheet">
  <title>Loja dos Games - Fornecedores</title>
  <script src="https://unpkg.com/lucide@latest"></script>
</head>

<body>

  <div class="sidebar">
    <div class="logo">
      <h1>GAME STORE</h1>
      <p>BOARD GAMES & CARD GAMES</p>
    </div>

      <div class="menu">
        <a href="/">🏠 Início</a>
        <a href="/produtos">📦 Produtos</a>
        <a href="/clientes">👥 Clientes</a>
        <a href="/fornecedores" class="active">🚚 Fornecedores</a>
        <a href="/eventos">🏆 Eventos / Torneios</a>
        <a href="#">⚙️ Sair</a>
      </div>
  </div>

  <div class="main">

    <p>
      <a class="links" id="atual-link" href="/">Início</a> >
      <a class="links" href="/fornecedores">Fornecedores</a>
    </p>

      <div class="topo">

        <i data-lucide="truck"></i>

          <div class="titulo-subt">
            <h1>Fornecedores</h1>
            <p>Gerencie os fornecedores da loja.</p>
          </div>

        <div class="botoes-titulo">
          <button class="new-event">
            <span>+</span> Novo Fornecedor
          </button>
        </div>

        <div class="data">
          <i data-lucide="clock-3"></i>

          <div class="texto-data">
            <h4>1 de Junho de 2026</h4>
            <p>Segunda, 09:00</p>
          </div>
        </div>
      </div>

    <div class="content">

        <div class="conteudo-principal">

          <div class="card-tabela">

            <div class="fornecedores">

              <table>

                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Fornecedor</th>
                    <th>CNPJ</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Ações</th>
                  </tr>
                </thead>

                <tbody>

              <tr>
                <td>001</td>
                <td>Galápagos Jogos</td>
                <td>15.234.657/0001-95</td>
                <td>(11) 3052-3600</td>
                <td>contato@galapagosjogos.com.br</td>
                <td>✏️  🗑️</td>
              </tr>

              <tr>
                <td>002</td>
                <td>Copag</td>
                <td>61.082.426/0001-07</td>
                <td>(11) 3672-4200</td>
                <td>comercial@copag.com.br</td>
                <td>✏️  🗑️</td>
              </tr>

                  <tr>
                    <td>003</td>
                    <td>Devir Livraria</td>
                    <td>08.704.131/0001-56</td>
                    <td>(11) 5087-5180</td>
                    <td>vendas@devir.com.br</td>
                    <td>✏️  🗑️</td>
                  </tr>

                </tbody>

              </table>

            </div>

          </div>

        </div>

        <div class="barra-direita">

          <div class="card-lateral">
            <h3>Resumo de fornecedores</h3>

            <div class="item-resumo">
              <span>Total de fornecedores</span>
              <strong>24</strong>
            </div>

          </div>

        </div>  

  </div>

    <script>
      lucide.createIcons();
    </script>
</body>