<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='home.css') }} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"rel="stylesheet">
    <title>Loja dos Games</title>
<body>

    <!-- SIDEBAR -->

    <div class="sidebar">

        <div class="logo">
            <h1>GAME STORE</h1>
            <p>BOARD GAMES & CARD GAMES</p>
        </div>

      <div class="menu">
        <a href="/" class="active">🏠 Início</a>
        <a href="/produtos">📦 Produtos</a>
        <a href="/clientes">👥 Clientes</a>
        <a href="/fornecedores">🚚 Fornecedores</a>
        <a href="/eventos">🏆 Eventos / Torneios</a>
        <a href="#">⚙️ Sair</a>
      </div>

    </div>
    <div class="main">
        <button>Registrar Venda:</button>
        <button>Inscrever cliente em torneio</button>
    </div>

</body>

</html>