<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/lucide@latest"></script>
    <title>Loja dos Games</title>
</head>

<body>

    <!-- SIDEBAR -->

    <div class="sidebar">

        <div class="logo">
            <h1>GAME STORE</h1>
            <p>BOARD GAMES & CARD GAMES</p>
        </div>

        <div class="menu">
            <a href="/" class="active">🏠 Início</a>
            <a href="/produtos">📦 Produtos</a>
            <a href="/clientes">👥 Clientes</a>
            <a href="/fornecedores">🚚 Fornecedores</a>
            <a href="/eventos">🏆 Eventos / Torneios</a>
            <a href="#">⚙️ Sair</a>
        </div>

    </div>
    <div class="main">
        <div class="breadcrumb">
            <a href="/">Início</a>
        </div>

        <section class="topo">
            <div class="titulo-subt">
                <h1><i data-lucide="house" class="lucide-house"></i> Página Inicial</h1>
                <p>Gerencie as vendas da loja e inscreva clientes em eventos organizados por nós!</p>
            </div>

            <div class="botoes-titulo">
                <button class="btn-top" onclick="toggleFormularioVenda()">
                    + Registrar Venda
                </button>
            </div>

            <div class="botoes-titulo">
                <button class="btn-top" onclick="toggleFormularioInscricao()">
                    + Inscrever Cliente
                </button>
            </div>
            <div class="data">
                <i data-lucide="clock-3"></i>
                <time id="data-hora" class="data-textos"></time>
            </div>
        </section>

        <div class="card-form" id="formVenda">
            <form action="/venda" method="POST">
                <h2>Registrar venda</h2>
                <input type="number" name="cliente_id" placeholder="ID do cliente" required />
                <input type="number" name="produto_id" placeholder="ID do produto" required />
                <button>Registrar Venda:</button>
            </form>
        </div>
        <div class="card-form" id="formInscricoes">
            {% if modo_insc == "criar" %}
            <form action="/inscricoes" method="POST">
                <h2>Inscrever cliente em torneio</h2>
                <input type="text" name="id_cliente" placeholder="ID do cliente" required />
                <input type="text" name="id_evento" placeholder="ID do evento" required />
                <button type="submit">Inscrever cliente em torneio</button>
            </form>
            {% elif modo_insc == "editar" %}
            <form action="/inscricoes/atualizar/{{ inscricao[0] }}" method="POST">
                <h2>Alterar inscrição</h2>
                <input type="text" name="id_evento" placeholder="ID do evento" required />
                <button type="submit">Inscrever cliente em torneio</button>
            </form>
            {% endif %}
        </div>
        {% if error %}
        <div id="erro">
            {{ error }} <button onclick="fecharErro()">X</button>
        </div>
        {% endif %}
        <table class="tabela-inscricoes">
            <thead>
                <h2>Inscrições</h2>
                <tr>
                    <th>id inscrição</th>
                    <th>id cliente</th>
                    <th>id evento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for inscricao in inscricoes %}
                <tr>
                    <td>{{inscricao [0]}}</td>
                    <td>{{inscricao [1]}}</td>
                    <td>{{inscricao [2]}}</td>
                    <td>
                        <form action="/inscricoes/excluir/{{ inscricao [0] }}" method="POST">
                            <button type="submit">🗑️</button>
                        </form>
                        <form action="/inscricoes/editar/{{ inscricao [0] }}" method="POST">
                            <button type="submit">✏️</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function toggleFormularioVenda() {
            const form = document.getElementById("formVenda");

            if (form.style.display === "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }

        function toggleFormularioInscricao() {
            const form = document.getElementById("formInscricoes");

            if (form.style.display === "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }

        function atualizarDataHora() {
            const agora = new Date();

            const opcoes = {
                dateStyle: 'short',
                timeStyle: 'medium'
            };

            document.getElementById('data-hora').textContent = agora.toLocaleString('pt-BR', opcoes);
        }

        function fecharErro() {
            document.getElementById("erro").style.display = "none";
        }

        setInterval(atualizarDataHora, 1000);

        atualizarDataHora();

        lucide.createIcons();
    </script>
</body>

</html>