<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAME STORE - Produtos</title>
    <link rel="stylesheet" href="../static/produtos.css">
</head>
<body>
    <aside class="sidebar">
  <div class="logo-area">
    <div class="logo-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="32" height="32" fill="white">
        <path d="M32 4L8 18v28l24 14 24-14V18L32 4zm0 4.8l19.2 11.1L32 31l-19.2-11.1L32 8.8zM11 21.6l19 11v22.2L11 43.8V21.6zm22 33.2V32.6l19-11v22.2L33 54.8z"/>
      </svg>
    </div>
    <div class="logo-text">
      <div class="title">GAME STORE</div>
      <div class="subtitle">BOARD GAMES &amp; CARD GAMES</div>
    </div>
  </div>
</body>
</html>