* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f5f7;
  display: flex;
}

/* SIDEBAR */

.sidebar {
  width: 260px;
  height: 100vh;
  background: #081120;
  color: white;
  padding: 30px 20px;
  position: fixed;
}

.logo {
  text-align: center;
  margin-bottom: 40px;
}

.logo h1 {
  font-size: 32px;
}

.logo p {
  color: #facc15;
  font-size: 12px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
  font-size: 15px;
}

.menu a:hover {
  background: #6d4aff;
}

.menu a.active {
  background: #6d4aff;
}

/* =========================
   MAIN
========================= */

.main {
  margin-left: 260px;
  width: calc(100% - 260px);
  padding: 30px;
}

/* =========================
   BREADCRUMB
========================= */

.breadcrumb {
  margin-bottom: 20px;
}

.breadcrumb a {
  text-decoration: none;
  color: #666;
}

.breadcrumb span {
  margin: 0 8px;
  color: #999;
}

/* =========================
   TOPO
========================= */

.topo {
  display: flex;
  align-items: center;
  gap: 20px;
  background: white;
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 25px;
}

.titulo-subt {
  flex: 1;
}

.titulo-subt h1 {
  margin-bottom: 5px;
}

.titulo-subt p {
  color: #666;
}

.botoes-titulo {
  display: flex;
  gap: 10px;
}

.new-event {
  height: 52px;
  padding: 0 24px;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  background: #6d4aff;
  color: white;
}

.new-event:hover {
  background: #5a39e6;
}

.data {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #f3f4f6;
  padding: 15px 24px;
  border-radius: 15px;
}

.data-textos h4,
.data-textos p {
  margin: 0;
}

/* =========================
   FORMULÁRIO (NOVO EVENTO)
========================= */

.card-form {
  background: white;
  border-radius: 20px;
  padding: 25px;
  margin-bottom: 25px;
}

.card-form h1,
.card-form h3 {
  margin-bottom: 15px;
}

.card-form input,
.card-form select {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
}

.card-form button {
  width: 100%;
  border: none;
  background: #6d4aff;
  color: white;
  padding: 14px;
  border-radius: 12px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.card-form button:hover {
  background: #5b3ae6;
}

/* =========================
   CONTEÚDO
========================= */

.content {
  display: flex;
  gap: 25px;
}

.eventos {
  flex: 1;
  background: white;
  border-radius: 20px;
  padding: 20px;
}

.barra-direita {
  width: 320px;
}

.card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.card h3 {
  margin-bottom: 15px;
}

/* =========================
   TABELA
========================= */

.tabela-eventos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabela-eventos th {
  text-align: left;
  color: #666;
  font-weight: 600;
  padding: 15px;
}

.tabela-eventos td {
  padding: 18px 15px;
  border-top: 1px solid #eee;
}

.tabela-eventos td form button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.filtros {
  display: flex;
}

.form-busca {
  display: flex;
  gap: 10px;
}

.form-busca input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 14px;
  margin-right: 20px;
}

.lucide-glass {
  width: 16px;
  height: 16px;
}

.btn-filter {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #6d4aff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.form-filtros {
  display: flex;
  gap: 10px;
}

.form-filtros input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 14px;
  margin-right: 20px;
}

.lucide-trash {
  width: 16px;
  height: 16px;
}

.btn-clear {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #6d4aff;
  color: white;
  border: none;
  padding: 10px 16px;
  margin-left: 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

/* =========================
   RESUMO
========================= */

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.info span {
  color: #666;
}

.info strong {
  color: #6d4aff;
}
