* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f5f7;
  display: flex;
}

/* SIDEBAR */

.sidebar {
  width: 260px;
  height: 100vh;
  background: #081120;
  color: white;
  padding: 30px 20px;
  position: fixed;
}

.logo {
  text-align: center;
  margin-bottom: 40px;
}

.logo h1 {
  font-size: 32px;
}

.logo p {
  color: #facc15;
  font-size: 12px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
  font-size: 15px;
}

.menu a:hover {
  background: #6d4aff;
}

.active {
  background: #6d4aff;
}

/* MAIN */

.main {
  margin-left: 260px;
  width: 100%;
  padding: 30px;
}

/* CONTENT */

.content {
  display: flex;
  gap: 25px;
}

/* TOPO */

.topo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.links {
  text-decoration: none;
  color: #000000;
}

#atual-link {
  margin-left: 3%;
  color: #6d4aff;
  font-size: 18px;
}

.titulo-subt {
  margin-top: 15px;
  flex: 1; /* ocupa o espaço livre */
}

.titulo-subt h2,
.titulo-subt p {
  margin: 0;
}

.botoes-titulo {
  display: flex;
  gap: 8px;
}
.new-event {
  background: #6d4aff;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 0 24px;
  height: 52px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.new-event:hover {
  background: #5a39e6;
}
.export {
  background-color: #eeeeee;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 12px;
  padding: 0 24px;
  margin-left: 10px;
  height: 52px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.export:hover {
  background-color: #e0e0e0;
}

.data {
  margin-left: 60px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #eeeeee;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 12px;
  padding: 15px 24px;
}

.data svg {
  width: 40px;
  height: 40px;
  color: #6d4aff;
}

.texto-data {
  display: flex;
  flex-direction: column;
}

.texto-data h4,
.texto-data p {
  margin: 0;
}

/* CONTEUDO PRINCIPAL */
.tabs {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #ddd;
}

.tab {
  background: none;
  border: none;
  padding: 15px 0;
  font-size: 15px;
  cursor: pointer;
  color: #666;
  position: relative;
}

.tab.active {
  color: #6d4aff;
  font-weight: 600;
}

.tab.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background: #6d4aff;
  border-radius: 10px;
}
#busca-input {
  margin-left: auto;
  padding: 8px 12px;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  background-color: #eeeeee;
  margin-left: 30%;
}
